altair
numpy
pandas
pydeck
streamlit
streamlit_oauth
streamlit_chat
httpx_oauth
extra_streamlit_components
notion_client
google-auth
google-api-python-client
html2text
openai
termcolor
numpy
scikit-learn